.flex-center {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.sprite-container {
	display: flex;
	flex-direction: column;
	background-color: #2A2B26;
	min-height: 13.125rem;
}

.sprite-button-wrapper {
	min-height: 2.34375rem;
	min-width: 3.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sprite-button {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sprite-container-middle {
	flex: 1;
	display: flex;
}

.sprite-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes opacityAnimation {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

.sprite-wrapper img {
	width: 7.5rem;
	height: 7.5rem;
	animation: opacityAnimation none 2s;
}

.nav-number-text {
	color: #fff;
	margin-top: 0.625rem;
}

@media only screen and (min-width: 500px) {
	.sprite-container {
		min-height: 17.5rem;
	}

	.sprite-button-wrapper {
		min-height: 3.125rem;
		min-width: 3.75rem;
	}	

	.sprite-wrapper img {
		width: 10rem;
		height: 10rem;
	}
}