.encounter-version {
	display: flex;
	padding: 0.4rem 0;
	border-bottom: 1px solid #fff;
}

.encounter-version:last-child {
	border-bottom: none;
}

.encounter-version-name {
	flex: 1
}

.encounter-locations {
	display: flex;
	flex-direction: column;
	flex: 1
}

