@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Squada One', cursive;
}

img {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

@media only screen and (min-width: 1060px) {
	#root, body, html {
		height: 100%;
	}

	.container {
		width: 1060px;
	}

	.container {
		flex-direction: row;
	}
}
